{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          <thead>
            <tr>
            {% for heading in cafes[0]: %}
              <th scope="col">{{ heading }}</th>
            {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for row in range(1, cafes | length): %}
            <tr>
            {% for cafe_data in cafes[row] %}
              <td>
                  {% if "http" in cafe_data: %}
                    <a href="{{ cafe_data }}" target="_blank">Maps Link</a>
                  {% else %}
                    {{ cafe_data }}
                  {% endif %}
              </td>
            {% endfor %}
            </tr>
          {% endfor %}
          </tbody>

  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
